<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Speakers">
	<ion-content class="padding-avg center">
		<h1 class="title main-title">{{speaker.name}}</h1>
		<h5 class="title subtitle">{{speaker.position}} at {{speaker.company}}</h5>
		<ul>
			<li ng-repeat="session in speaker.sessions">
				<a href="#/tab/lectures/{{session.id}}">{{session.title}}</a>
			</li>
		</ul>
		<p>
		  {{speaker.description}}
		</p>
	</ion-content>
</ion-view>
